<div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-3">Read all about it!</h1>
    <p class="lead">News Scraper</p>
    <hr class="my-2">
    <center>
        <p>Click the button below for the latest news</p>
        <p class="lead">
            <a class="btn buttonStyle btn-lg" href="Jumbo action link" role="button">Get Articles</a>
        </p>
    </center>
</div>
<div class="container">
    <div class="card gutter">
        {{!--
        <img class=" card-img-top " src="holder.js/100x180/ " alt=" "> --}}
        <div class="card-body ">
            <h4 class="card-title ">Title</h4>
            <p class="card-text ">Text</p>
            <p class="more">
                <a class="btn  btn-md buttonStyle" href="" role="button">Read More</a>
            </p>
        </div>
    </div>

</div>






</div>
<style>
    body {
        background: url("https://www.publicdomainpictures.net/pictures/140000/velka/vintage-newspaper-print.jpg") fixed;
    }

    .buttonStyle {
        background: #65412D;
        color: white;
    }

    .jumbotron {
        background: #F0DFCE;
    }

    .container {
        bottom: 920px;
    }

    .more {
        text-align: center;
    }
</style>