<div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-3">Read all about it!</h1>
    <div class="lead">News Scraper</div>
    <hr class="my-2">
    <center>
        <div>Click the button below for the latest news</div>
        <div class="lead">
            <a class="btn buttonStyle btn-lg scrapeBtn" href="/scrape" role="button">Get Articles</a>
        </div>
    </center>
</div>
<div class="container">
    <div id="loading">
        <img src="../assets/img/spinner.gif">
    </div>
</div>
</center>
<div id="articles"></div>
<div id="notes" style="display:none;"></div>