<div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-3">Read all about it!</h1>
    <p class="lead">News Scraper</p>
    <hr class="my-2">
    <center>
        <p>Click the button below for the latest news</p>
        <p class="lead">
            <a class="btn buttonStyle btn-lg scrapeBtn" href="/scrape" role="button">Get Articles</a>
        </p>
    </center>
</div>
<div class="container">
    <div id="loading">
        <img src="../assets/img/spinner.gif">
    </div>
</div>
</center>
<div id="articles"></div>
<div id="notes"></div>
<div id="test">